<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WARazorDB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/WARazorDB.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <span style="font-size:1.5rem;font-weight:700;">Mi Aplicación Moderna</span>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer>
        &copy; @DateTime.Now.Year - Mi Aplicación
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

